# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
wheels/

# Virtual environments
.venv/
venv/

# Package managers
.uv/

# IDEs
.vscode/
.idea/

# Text editors
*.swp
*.swo
*~